.education-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 3rem;
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 250px;
  max-width: 400px;
  background-color: var(--light-text-color);
  border-radius: 1rem;
  box-shadow: -1px 6px 5px rgba(0, 0, 0, 0.5);
}

.card-banner {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 35%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card-banner.unlp {
  background-image: url("./assets/unlp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.card-banner.eestn1 {
  background-image: url("./assets/eestn1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-banner.dgce {
  background-image: url("./assets/dgce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
}

.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  flex-shrink: 1;
}

.card-title {
  text-wrap: wrap;
}

.card-subtitle {
  color: #404040;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-list li {
  font-weight: 500;
}

@media (width >= 1000px) {
  .education-section {
    padding: 2rem 6rem;
    gap: 4rem;
  }
}
