.card-banner.unlp {
  background-image: url("./assets/unlp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.card-banner.eestn1 {
  background-image: url("./assets/eestn1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-banner.dgce {
  background-image: url("./assets/dgce.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 73%;
}
